
{% extends "layout.html" %}

{% block pageTitle %}
LAA Provider Details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        LAA Provider Contact Details
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Please provide your contact details below.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>Please complete all fields below</p>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What are your company and contact details?
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="provider-name">
            Company Name
            <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input" id="provider-name" name="provider-name" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-name">
             Contact:
            <span class="govuk-visually-hidden">line 2 of 2</span>
          </label>
          <input class="govuk-input" id="contact-name" name="contact-name" type="text">
        </div>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What is your address?
          </h1>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Building and street
            <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
        </div>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Contact methods
          </h1>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="telephone-number">
            UK telephone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <span id="email-hint" class="govuk-hint">
            We’ll only use this to send you a receipt
          </span>
          <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint">
        </div>
      </fieldset>
      <button type="submit" class="govuk-button">
        Save and continue
      </button>
      <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">
          <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      
              <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
                <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
                />
              </svg>
              <span class="govuk-footer__licence-description">
                All content is available under the
                <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
              </span>
            </div>
            <div class="govuk-footer__meta-item">
              <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
</div>

{% endblock %}
